*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: black;
    align-items: center;
}

/* menu de navegacion */
header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;
    position: fixed;
    background-color: rgba(191, 191, 191, 0.5);   
    padding-bottom:15px;
}
header h1{
    color: red;
}

nav a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 25px;
}

nav a:hover{
    color: red;
}

nav a:active{
    color: red;
}
.navCelu{
    display: none;
}

.hamburguesa{
    max-width: 50px;
}
/* menu de navegacion */

.tituloPelicula{
    color: white;
margin-top: 150px;
display: flex;
justify-content: start;
width: 80%;
}

.tituloPelicula h1 {
    color: white;
}

.tituloPelicula:hover{
    color: red;
}

.audiovisual{
    display: flex;
    margin-top: 50px;
    height: 70vh;
    width: 80%;
    justify-content: space-between;
    
}
.audiovisual img{
    height: 100%;
}

.trailer iframe{
    min-width: 100%;
    min-height: 100%;
}
.audiovisual .trailer{
    height: 100%;
}

.resumen{
    color: white;
    width: 80%;
    margin-top: 100px;
}

.contenido{
    width: 90%;
    display: flex;
    flex-direction: column ;
    margin-top: 50px;
    margin-bottom: 50px;

}
.contenido h1{
    color: white;
    margin-top: 70px;
    
}
.contenido h2{
    color: white;
}
.posters {
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}
.posters a{
    max-width:18%;
}

.posters a img{
    width: 100%;
}


/* contenidos */

footer{
    margin-top: 100px;
    width:100%;
    display: flex;
    justify-content: center;
    background-color: rgba(191, 191, 191, 0.5);   
   
}
footer p{
    color: white;
    
}

/* moobile */
@media(max-width:600px){

    .audiovisual{
        flex-direction: column;
    }

    iframe{
        max-width: 200px;
    }

     .movile{
            display: none;
        } 
    
    .posters a{
            min-width: 100%;
        }
    
     header .logo{
            margin-left: 20px;
        }
    
    header{
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
        }
    
    .banner h1{
            font-size: 40px;
        }
    
     header nav{
            display: none;
        }
    
     .navCelu{
            display: block;
            margin-right: 30px;
            
        }
    
    }
/* mobile */