*{
    font-family: Arial, Helvetica, sans-serif; 
    margin: auto;
    box-sizing: border-box;
    background-color:black;
    color: white;
    padding: 10px;
}

img{
    width: 100%;
    height: auto;
}
li{
    list-style-type: none;
}


h2 {
    text-align: center;
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 30px; 
    justify-content: auto;
}

@media(min-width: 768px){

}
@media(min-width: 1200px){

}
