*{
    box-sizing: border-box;
    margin: 0;
    color: white;
}

body{
    background: black;
    font-family: 'open-sans',sans-serif;
}
.contenedor{
    width: 100%;
    margin: auto;
    background-color: black;
    position: fixed;
    z-index: 100%;
    padding: 10px;
}


header{
    position: fixed;
}

header .contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header .logo{
    color:#e50914;
    font-family: 'bebas neue',cursive;
    font-weight: normal;
    font-size: 40px;
   

}

header nav a{
    color: #aaa;
    text-decoration: none;
    margin-right: 20px;
}

header nav a:hover,
header nav a.activo{
    color: #ffffff;
}

.principal{
    font-size: 16px;
    min-height: 450px;
    color: #fff;
    background-image: url("../img/televisor.jpg");
    background-position: center;
    background-size: cover;
    margin-bottom: 50px;
    display: flex;
    align-items: end;
}

.contenedor .titulo{
    background-color: crimson;}
.contenedor .descripcion{
    background-color: crimson;
}


.principal .titulo{
    font-weight: 600;
    font-size: 50px;
    margin-bottom: 6px;

}

.principal .descripcion{
    font-weight: normal;
    font-size: 16px;
    max-width: 50%;
    line-height: 28px;
    margin-bottom: 21px;

}
