*{
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    box-sizing: border-box;
}
img{
    width: 100%;
}
li{
    list-style-type: none;
}
h2 {
    text-align: center;
}
@media(min-width: 768px){

}
@media(min-width: 1200px){

}
