*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: black;
    align-items: center;
    margin: 0px;
}

/* menu de navegacion */
header{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items:center;
    position: fixed;
    background-color: rgba(191, 191, 191, 0.5);   
    padding-bottom:15px;
}
header h1{
    color: red;
}

nav a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 25px;
}

nav a:hover{
    color: red;
}

nav a:active{
    color: red;
}

.navCelu{
    display: none;
}

.hamburguesa{
    max-width: 50px;
}
/* menu de navegacion */

/* banner */
.banner{
    width: 100vw;
    height: 100vh;
    background-image: url(../img/pibe.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items:center ;
    justify-content: center;
}
.banner h1{
    color: white;
    font-size: 4rem;
}
.banner button{
    font-size: larger;
    color: white;
    background-color: gray;
    border: none;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
}
.banner button:hover{
color: red;
}
/* banner */


/* contenidos */
.contenido{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;

}
.contenido h1{
    color: white;
}



.series1 {
    width: 100%;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    
}
.series1 a{
    max-width: 70%;
}
.series1 a img{
    width: 100%;
}

.series2 {
    width: 100%;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    
}
.series2 a{
    max-width: 70%;
}
.series2 a img{
    width: 100%;
}

.series3 {
    width: 100%;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    
}
.series3 a{
    max-width: 70%;
}
.series3 a img{
    width: 100%;
}




/* contenidos */
footer{
    margin-top: 100px;
    width:100%;
    display: flex;
    justify-content: center;
    background-color: rgba(191, 191, 191, 0.5);   
   
}

footer p{
    color: white; 
}

/* tablet */
@media only screen and (max-width: 768px){

    .banner h1{
        text-align: center;
    }

    .tablet{
        display: none;
    }

    .contenido .posters a{
        width: 100%;
    }

    .posters a{
        max-width: 100%;
    }

}
/* tablet */


/* moobile */
@media only screen and (max-width: 420px){

    .movile{
        display: none;
    } 

    .posters a{
        min-width: 100%;
    }

    header .logo{
        margin-left: 20px;
    }

    header{
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }

    .banner h1{
        font-size: 1.2rem;
    }

    header nav{
        display: none;
    }

    .navCelu{
        display: block;
        margin-right: 30px;
        
    }

    .series{
        width: 50%;
    }

}
/* mobile */












